<html>
<head>
	<title>Chef Fundamentals</title>
</head>
<body>
	<h1><%= node["apache"]["greeting"] %></h1>
	<p>
	Hello World!
	This is a <%= node["platform"] %> <%= node["platform_version"] %> server.
	</p>
	<p>
	RAM: <%= node["memory"]["total"] %>.
	</p>
</body>
</html>
